<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Biblioteca</h1>
<a href="/livros/novo">Novo Livro</a>
<a href="/livros/disponiveis">Livros Disponíveis</a>
<br />
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>Titulo</td>
        <td>Autor</td>
        <td>Categoria</td>
        <td>Status</td>
        <td>Ações</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="livro: ${livros}">
        <td th:text="${livro.getId()}"></td>
        <td th:text="${livro.getTitulo()}"></td>
        <td th:text="${livro.getAutor()}"></td>
        <td th:text="${livro.getCategoria()}"></td>
        <td th:text="${livro.getStatus()}"></td>
        <td>
            <a th:href="@{/livros/{id}(id=${livro.id})}">Detalhar</a>

            <form th:if="${livro.status.name() == 'DISPONIVEL'}"
                  th:action="@{/livros/{id}/emprestar(id=${livro.id})}"
                  method="post">
                <button type="submit">Emprestar</button>
            </form>

            <form th:if="${livro.status.name() == 'EMPRESTADO'}"
                  th:action="@{/livros/{id}/devolver(id=${livro.id})}"
                  method="post">
                <button type="submit">Devolver</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>



</body>
</html>